<h2 data-s="title"></h2>
<div class="detail" data-s="detail">
  <h3 data-s="anchor">
    <span class="access" data-s="access"></span>
    <span class="virtual" data-s="virtual"></span>
    <span class="override" data-s="override"></span>
    <span data-s="readonly"></span>
    <span data-s="name"></span><span data-s="signature"></span>
    <span class="right-info">
      <span class="version" data-s="version">version </span>
      <span class="since" data-s="since">since </span>
    </span>
  </h3>

  <div class="deprecated" data-s="deprecated"></div>
  <div class="experimental" data-s="experimental"></div>
  <div data-s="description">description</div>
  <div data-s="inherit"><h4>Override: </h4></div>
  <div data-s="defaultvalue"><h4>Default: </h4></div>

  <div data-s="properties"></div>

  <div class="return-params" data-s="returnParams">
    <h4>Return:</h4>
    <table>
      <tr>
        <td class="return-type" data-s="returnType"></td>
        <td class="return-desc" data-s="returnDescription"></td>
      </tr>
    </table>
    <div data-s="returnProperties"></div>
  </div>

  <div data-s="this"><h4>This:</h4> </div>
  <div data-s="fire"><h4>Fire:</h4></div>
  <div data-s="listen"><h4>Listen:</h4></div>

  <div data-s="throwWrap">
    <h4>Throw:</h4>
    <table>
      <tbody>
        <tr class="throw" data-s="throw">
          <td data-s="throwName"></td>
          <td data-s="throwDesc"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div data-s="example">
    <h4>Example:</h4>
    <pre data-s="exampleDoc" class="prettyprint"><code data-s="exampleCode"></code></pre>
  </div>

  <div data-s="see"><h4>See:</h4></div>
  <div data-s="require"><h4>Require:</h4></div>
  <div data-s="author"><h4>Author:</h4></div>
  <div data-s="todo"><h4>TODO:</h4></div>
</div>
