<div class="self-detail">
  <h1>
    <span data-s="title"></span>
  <span class="header-notice">
    <span class="version" data-s="version">version: </span>
    <span class="url"><a data-s="url"></a></span>
  </span>
  </h1>
  <div data-s="description"></div>
</div>

<div data-s="moduleSummary"><h2>Module Summary</h2></div>
<div data-s="namespaceSummary"><h2>Namespace Summary</h2></div>
<div data-s="classSummary"><h2>Class Summary</h2></div>
<div data-s="interfaceSummary"><h2>Interface Summary</h2></div>
<div data-s="mixinSummary"><h2>Mixin Summary</h2></div>
<div data-s="fileSummary"><h2>File Summary</h2></div>
