<h2 data-s="title"></h2>
<div class="member" data-s="member">
  <h3 data-s="anchor">
    <span class="access" data-s="access"></span>
    <span data-s="readonly"></span>
    <span data-s="name"></span><span data-s="signature">(x, y)</span>
    <span class="right-info">
      <span class="version" data-s="versionWrap">version <span data-s="version"></span></span>
      <span class="since" data-s="sinceLabel">since <span data-s="since"></span></span>
    </span>
  </h3>

  <div class="deprecated" data-s="deprecated"></div>

  <div data-s="description">description</div>

  <div data-s="inheritWrap">
    <h4>Override: <span data-s="inherit"></span></h4>
  </div>

  <div data-s="defaultvalueWrap">
    <h4>Default: <span data-s="defaultvalue"></span></h4>
  </div>

  <div data-s="properties"></div>

  <div data-s="example">
    <h4>Example:</h4>
    <pre data-s="exampleDoc" class="prettyprint"><code data-s="exampleCode"></code></pre>
  </div>

  <div class="see" data-s="seeWrap">
    <h4 data-s="see">See: <span data-s="seeLink"></span></h4>
  </div>

  <div data-s="authorWrap">
    <h4>Author: <span data-s="author"></span></h4>
  </div>
</div>
