<div class="member" data-s="member">
  <h3 data-s="anchor">
    <span class="access" data-s="access"></span>
    <span data-s="readonly"></span>
    <span data-s="name"></span><span data-s="signature">(x, y)</span>
    <span class="since" data-s="sinceLabel">since <span data-s="since"></span></span>
  </h3>
  <div data-s="description">description</div>

  <div data-s="example">
    <h4>Example:</h4>
    <pre data-s="exampleDoc" class="prettyprint"><code data-s="exampleCode"></code></pre>
  </div>
</div>
