<div class="method" data-s="method">
  <h3 data-s="anchor">
    <span class="access" data-s="access"></span>
    <span class="virtual" data-s="virtual"></span>
    <span class="override" data-s="override"></span>
    <span data-s="name">method</span><span data-s="signature">(x, y)</span>
    <span class="since" data-s="sinceLabel">since <span data-s="since"></span></span>
  </h3>

  <div class="deprecated" data-s="deprecated"></div>

  <div data-s="description">description</div>

  <div class="argument-params" data-s="argumentParams">
    <h4>Parameters:</h4>
    <table class="params">
      <thead>
      <tr><td>Name</td><td>Type</td><td>Attribute</td><td>Description</td></tr>
      </thead>
      <tbody>
      <tr data-s="param">
        <td data-s="name">x</td>
        <td data-s="type">number</td>
        <td data-s="appendix">optional</td>
        <td data-s="paramDescription">desc</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="return-params" data-s="returnParams">
    <h4>Return: <span class="return-type" data-s="returnType"></span></h4>
    <div class="return-desc" data-s="returnDescription"></div>
  </div>

  <div class="throws" data-s="throws">
    <div data-s="throw">
      <h4>Throw: <span data-s="throwName"></span></h4>
      <div data-s="throwDesc"></div>
    </div>
  </div>

  <div data-s="example">
    <h4>Example:</h4>
    <pre data-s="exampleDoc" class="prettyprint"><code data-s="exampleCode"></code></pre>
  </div>

  <div class="see" data-s="seeWrap">
    <h4 data-s="see">See: <span data-s="seeLink"></span></h4>
  </div>
</div>
