<p class="header-notice">
  <span data-s="parentNamespace"></span>
</p>

<p class="header-notice">
  <span data-s="access"></span>
  <span data-s="kind"></span>
  <span data-s="requiresLabel">| requires <span data-s="require"></span></span>
  <span data-s="mixesLabel">| mixes <span data-s="mixes"></span></span>
  <span data-s="versionLabel">| version <span data-s="version"></span></span>
  <span data-s="sinceLabel">| since <span data-s="since"></span></span>
  <span data-s="authorLabel">| author <span data-s="author"></span></span>
  <span data-s="fileLabel">| file <span data-s="file"></span></span>
</p>

<h1 data-s="namespace"></h1>

<div class="deprecated" data-s="deprecated"></div>
<div class="experimental" data-s="experimental"></div>
<div data-s="namespaceDesc"></div>
<div data-s="variation"></div>

<div class="see" data-s="seeWrap">
  <h4 data-s="see">See: <span data-s="seeLink"></span></h4>
</div>

<div data-s="fileexampleDocs">
  <h2>Example</h2>
  <pre class="prettyprint" data-s="fileexampleDoc"><code data-s="fileexampleCode"></code></pre>
</div>

<div data-s="todoWrap">
  <h2>TODO</h2>
  <ul>
    <li data-s="todo"></li>
  </ul>
</div>

<div data-s="namespaceSummary"><h2>Namespace Summary</h2></div>
<div data-s="classSummary"><h2>Class Summary</h2></div>
<div data-s="interfaceSummary"><h2>Interface Summary</h2></div>
<div data-s="mixinSummary"><h2>Mixin Summary</h2></div>
<div data-s="memberSummary"><h2>Member Summary</h2></div>
<div data-s="methodSummary"><h2>Method Summary</h2></div>
<div data-s="typedefSummary"><h2>Typedef Summary</h2></div>
<div data-s="eventSummary"><h2>Event Summary</h2></div>
<div data-s="constSummary"><h2>Const Summary</h2></div>
<div data-s="enumSummary"><h2>Enum Summary</h2></div>
<div data-s="callbackSummary"><h2>Callback Summary</h2></div>

<div data-s="publicMemberDocs"></div>
<div data-s="protectedMemberDocs"></div>
<div data-s="privateMemberDocs"></div>

<div data-s="publicMethodDocs"></div>
<div data-s="protectedMethodDocs"></div>
<div data-s="privateMethodDocs"></div>

<div data-s="publicTypedefDocs"></div>
<div data-s="protectedTypedefDocs"></div>
<div data-s="privateTypedefDocs"></div>

<div data-s="publicEventDocs"></div>
<div data-s="protectedEventDocs"></div>
<div data-s="privateEventDocs"></div>

<div data-s="publicConstDocs"></div>
<div data-s="protectedConstDocs"></div>
<div data-s="privateConstDocs"></div>

<div data-s="publicEnumDocs"></div>
<div data-s="protectedEnumDocs"></div>
<div data-s="privateEnumDocs"></div>

<div data-s="publicCallbackDocs"></div>
<div data-s="protectedCallbackDocs"></div>
<div data-s="privateCallbackDocs"></div>

<div data-s="sourceCodeWrap">
  <h2>Source Code</h2>
  <pre class="prettyprint"><code data-s="sourceCode"></code></pre>
</div>
