<div class="header-notice">
  <div data-s="memberof"></div>
  <span data-s="access"></span>
  <span data-s="kind"></span>
  <span data-s="variation">| variation </span>
  <span data-s="extends">| extends </span>
  <span data-s="implements">| implements </span>
  <span data-s="require">| requires </span>
  <span data-s="mixes">| mixes </span>
  <span data-s="version">| version </span>
  <span data-s="since">| since </span>
  <span data-s="author">| author </span>
  <span data-s="file">| file </span>
</div>

<div class="self-detail">
  <h1 data-s="name"></h1>

  <div class="extends-chain" data-s="extendsChainWrap">
    <div data-s="extendsChain"><h4>Extends Chain:</h4></div>
    <div data-s="directSubclass"><h4>Direct Subclass:</h4></div>
    <div data-s="indirectSubclass"><h4>Indirect Subclass:</h4></div>
  </div>

  <div class="deprecated" data-s="deprecated"></div>
  <div class="experimental" data-s="experimental"></div>
  <div data-s="description"></div>

  <div class="see" data-s="seeWrap">
    <h4 data-s="see">See: </h4>
  </div>

  <div data-s="fileexampleDocs">
    <h2>Example</h2>
    <pre class="prettyprint" data-s="fileexampleDoc"><code data-s="fileexampleCode"></code></pre>
  </div>

  <div data-s="todoWrap">
    <h2>TODO</h2>
    <ul>
      <li data-s="todo"></li>
    </ul>
  </div>
</div>

<div data-s="namespaceSummary"><h2>Namespace Summary</h2></div>
<div data-s="classSummary"><h2>Class Summary</h2></div>
<div data-s="interfaceSummary"><h2>Interface Summary</h2></div>
<div data-s="mixinSummary"><h2>Mixin Summary</h2></div>
<div data-s="staticMemberSummary"><h2>Static Member Summary</h2></div>
<div data-s="staticMethodSummary"><h2>Static Method Summary</h2></div>
<div data-s="constructorSummary"><h2>Constructor Summary</h2></div>
<div data-s="memberSummary"><h2>Member Summary</h2></div>
<div data-s="methodSummary"><h2>Method Summary</h2></div>
<div data-s="typedefSummary"><h2>Typedef Summary</h2></div>
<div data-s="eventSummary"><h2>Event Summary</h2></div>
<div data-s="constSummary"><h2>Const Summary</h2></div>
<div data-s="enumSummary"><h2>Enum Summary</h2></div>
<div data-s="callbackSummary"><h2>Callback Summary</h2></div>

<div data-s="staticMemberDetails"></div>
<div data-s="staticMethodDetails"></div>
<div data-s="constructorDetails"></div>
<div data-s="memberDetails"></div>
<div data-s="methodDetails"></div>
<div data-s="typedefDetails"></div>
<div data-s="eventDetails"></div>
<div data-s="constDetails"></div>
<div data-s="enumDetails"></div>
<div data-s="callbackDetails"></div>

<div data-s="sourceCodeWrap">
  <h2>Source Code</h2>
  <pre class="prettyprint"><code data-s="sourceCode"></code></pre>
</div>
