<table class="summary">
  <thead><tr><td data-s="title" colspan="3">Members</td></tr></thead>
  <tbody>
  <tr data-s="target">
    <td>
      <span class="access" data-s="access"></span>
      <span class="virtual" data-s="virtual"></span>
      <span class="override" data-s="override"></span>
      <span class="readonly" data-s="readonly"></span>
    </td>
    <td>
      <div>
        <p>
          <span data-s="name">member</span><span data-s="signature"></span>
        </p>
      </div>
      <div>
        <div class="deprecated" data-s="deprecated"></div>
        <div class="experimental" data-s="experimental"></div>
        <div data-s="description">description</div>
      </div>
    </td>
    <td>
      <span class="version" data-s="versionLabel">version <span data-s="version"></span></span>
      <span class="since" data-s="sinceLabel">since <span data-s="since"></span></span>
    </td>
  </tr>
  </tbody>
</table>
