<table class="summary">
  <thead><tr><td data-s="title" colspan="3">Members</td></tr></thead>
  <tbody>
  <tr data-s="target">
    <td>
      <span class="access" data-s="access"></span>
      <span class="virtual" data-s="virtual"></span>
      <span class="override" data-s="override"></span>
      <span class="readonly" data-s="readonly"></span>
    </td>
    <td>
      <div>
        <p>
          <span data-s="name">member</span><span data-s="signature"></span>
        </p>
      </div>
      <div data-s="description">description</div>
    </td>
    <td>
      <span class="since" data-s="sinceLabel">since <span data-s="since"></span></span>
    </td>
  </tr>
  </tbody>
</table>
